.form-group .label {
  color: white;
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.8rem;
  transition: all 0.2s ease-out;
}

.form-group .input-lg {
  background-color: transparent;
  border: none;
  width: 100%;
  color: white;
  height: 100%;
  padding-left: 8px; /* Adjust as needed */
}

.form-group .input-lg:focus {
  outline: none;
}

.label.focused-label {
  font-size: 0.8rem;
  top: -8px;
  background-color: black;
  transform: translateY(0);
}
